{% extends "auctions/layout.html" %}

{% block title %}
    <title>Create Listing</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create Listing</h1>
        <h2 style="color:green">{{ message }}</h2>
        <form action="{{ create_listing }}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="titleInput">Listing Title</label>
                <input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
            </div>
            <div class="form-group">
                <label for="imageUrlInput">Image URL</label>
                <input type="url" class="form-control" id="imageUrlInput" placeholder="Image URL" name="iurl">
            </div>
            <div class="form-group">
                <label for="descriptionTextarea">Description</label>
                <textarea class="form-control" id="descriptionTextarea" rows="3" placeholder="Description" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="startingBidInput">Starting Bid</label>
                <input type="number" class="form-control" id="startingBidInput" name="bid">
            </div>
            <div class="form-group col-md-4">
                <label for="categoriesSelect">Categories</label>
                <select id="categoriesSelect" class="form-control" name="categories">
                    <option selected>Choose...</option>
                    {% for c in categories %}
                        <option value="{{ c.id }}">{{ c }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
