{% extends "auctions/layout.html" %} 
{% block title %} 
<title>Create Listing</title>
{% endblock %}
{% block body %} 
<h1>Create Listing</h1>
<h2 style = "color:green">{{message}}</h2>
<form action = "{{create_listing}}" method = "POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleFormControlInput1">Listing Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" name = "title">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Image Url</label>
      <input type="url" class="form-control" id="exampleFormControlInput1" placeholder="Image Url" name = "iurl">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder = "Description" name = "description"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Starting Bid</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" name = "bid">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Categories</label>
      <select id="inputState" class="form-control" name = "categories">
        <option selected>Choose...</option>
        {% for c in categories %} 
        <option value="{{c.id}}">{{c}}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}